<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Turmas</title>
</head>

<body>
  <h1>Lista de Turmas</h1>
  <a href="{{url_for('turmas.getIndex')}}"><button>Início</button></a>
  <a href="{{url_for('turmas.adicionarTurmaPage')}}"><button>Adicionar Turma</button></a>
  <ul>
    {% for turma in turmas %}
    <li>
    Descrição: {{ turma.descricao }} | Ativo: {{ turma.ativo }}
    </li>
    <a href="{{url_for('turmas.buscarTurma', idTurma=turma.id)}}"><button>Detalhes</button></a>
    {% endfor %}
  </ul>
</body>
</html>